/buffer-cache/buffer.cache.java/.project
/buffer-cache/buffer.cache.java/.settings
/buffer-cache/buffer.cache.java/.classpath
/buffer-cache/buffer.cache.java/.project
/buffer-cache/buffer.cache.java/target
